{{ define "main" }}
<div class="landing-page-wrapper">
    <div class="landing-page-content">
        <div>
            {{ .Content | safeHTML }}
        </div>
    </div>
    <div class="landing-page-image">
        <img src="{{ .Params.image }}" alt="{{ .Site.Params.header.title }}" width="221" height="331">
    </div>
</div>


<main>
    <h1 id="publications">Publications <!-- raw HTML omitted --></h1>
    <ol>
        <li>
            <p><a href="https://eprint.iacr.org/2023/1714"><strong>On Parallel Repetition of PCPs</strong></a><br>
                <em>Alessandro Chiesa, Ziyi Guan, and <strong>Burcu Yıldız</strong></em><br>
                <!-- raw HTML omitted -->
                ITCS 2024 (15th Innovations in Theoretical Computer Science).
                <!-- raw HTML omitted -->
            </p>
        </li>
        <li>
            <p><a href="https://eprint.iacr.org/2021/1317"><strong>m-Stability: Threshold Security Meets Transferable
                        Utility</strong></a><br>
                <em>Osman Biçer, <strong>Burcu Yıldız</strong>, and Alptekin Küpçü</em><br>
                <!-- raw HTML omitted -->
                CCSW 2021 (The ACM Cloud Computing Security Workshop 2021).
                <!-- raw HTML omitted -->
            </p>
        </li>
    </ol>


</main>

{{ end }}